.copn-sct {
    margin: 20px 56px;
}

.copn-sct button {
    background: #FFFFFF;
    color: #3DAEDF;
    border: 1px solid #3DAEDF;
    text-transform: uppercase;
    padding: 5px 25px 5px 25px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 10px;
}

ul.cpn-details li {
    list-style: none;
    min-height: 188px;
    max-width: 203px;
    border: 1px solid rgb(234, 237, 239);
    display: inline-block;
    margin: 8px 15px;
}

.cpn-pack {
    padding: 5px 10px 5px 6px;
}

.pack-img img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    text-align: center;
    display: block;
}

.pack-right h1 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(235, 93, 93);
    line-height: 0px;
}

.pack-right {
    text-align: right;
}

.pack-right h4 {
    font-size: 14px;
    color: rgb(61, 174, 223);
}

.cpn-code {
    text-align: center;
}

.cpn-code h4 {
    font-size: 13px;
    color: #999;
}

.cpn-code p {
    font-weight: bold;
    font-size: 14px;
    border: 1px solid rgb(61, 174, 223);
    padding: 3px 0px 4px 1px;
    color: #999;
}

.pack-dat p {
    font-size: 10px;
    font-weight: bold;
    color: rgb(119, 119, 119);
}

.pck-cal {
    border: 1px solid #EAEDEF;
    text-align: center;
    padding: 0px 0px;
    margin: -6px 7px 0px 7px;
}

.pck-cal h5 {
    font-size: 9px;
    background: rgb(202, 202, 202);
    padding: 2px 0px;
    margin: 0px auto;
    color: #fff;
    font-weight: bold;
}

.pck-cal h3 {
    font-size: 15px;
    padding: 6px 0px 6px 0px;
    margin: 0px;
    color: rgb(202, 202, 202);
    font-weight: bold;
}

.pack-dat {
    margin: 0px 2px;
}

i.ln-cross.img-cl {
    border: 1px solid rgb(61, 174, 223);
    border-radius: 100%;
    padding: 8px;
    color: rgb(61, 174, 223);
    position: relative;
    top: 19px;
    left: 9px;
    cursor: pointer;
}

.pck-rg h5 {
    color: rgb(61, 174, 223);
    font-weight: bold;
}

.rightContent {
    /* float: right; */
    /* width: 220px; */
    /* padding: 5px 0px 0; */
    
    margin: -8px 0px 0px;
    min-height: 175px;
}

.legend {
    color: #333;
    font-size: 11px;
    border-bottom: 1px solid #FFFFFF;
    font-family: "lato";
}

.legend label {
    line-height: 25px;
    display: block;
    margin: 6px 0;
}

.legend.sleeper .seat.available {
    background-position: -40px 0;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.legend.sleeper .seat.ladies {
    background-position: -40px -20px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.legend.sleeper .seat {
    width: 40px;
}

.legend.sleeper .seat.selected {
    background-position: -40px -60px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.legend.sleeper .seat.booked {
    background-position: -40px -40px;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
}

.fare {
    margin-top: 15px;
    font-size: 11px;
    color: #333;
    line-height: 20px;
    font-family: "lato";
}

.fare .amount,
.fare .seatsSelected {
    margin: 5px 0;
}

.fare label {
    display: block;
    float: left;
    /* width: 95px; */
}

.fare span {
    font-size: 11px;
    color: #e24648;
    display: block;
    float: left;
    /* width: 125px; */
    
    margin: 0px 0px 0px 10px;
}

.legend label {
    line-height: 24px;
    display: block;
    margin: 6px 0px;
}

.trans-cat {
    background: rgb(234, 237, 239);
    padding: 8px 15px 1px 1px;
}

ul.cat-li li {
    list-style: none;
    display: inline-block;
}

ul.cat-li {
    text-align: right;
}

ul.cat-li select {
    border: 1px solid rgb(192, 192, 192);
    padding: 3px 0px 3px 8px;
    color: rgb(94, 92, 92);
    outline: 0;
    cursor: pointer;
}

.row.tran-info {
    border: 1px solid rgb(234, 237, 239);
    padding: 25px 8px 25px 8px;
    border-top: 4px solid #41b372;
    margin: 24px auto;
}

.tran-dat {
    border: 1px solid rgb(234, 237, 239);
}

.tran-dat p {
    margin: 0;
    background: rgb(234, 237, 239);
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding: 8px 13px;
    text-transform: capitalize;
}

.tran-dat h5 {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.tran-loc .p1 {
    font-size: 12px;
    font-weight: bold;
}

p.p1 i {
    color: grey;
    font-size: 11px;
    margin: 5px;
}

p.p2 {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

span.p2spn {
    color: #000;
    margin: 5px;
}

p.p3 {
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

p.p3 span {
    color: #000;
    margin: 5px;
}

.tran-loc p {
    line-height: 10px;
}

.tran-loc {
    margin: 7px auto;
}

.tran-book button {
    background: #fff;
    border: 1px solid #41b372;
    color: #41b372;
    padding: 5px 10px 5px 10px;
    margin: 18px auto;
}

span.rs-py {
    margin: 0px 0px 0px 80px;
}

.payments .payment-info {
    padding: 18px 32px;
}

.payments .user-avatar {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 500px;
    background: 0 0;
}

.user-avatar {
    color: #fff;
    float: right;
}

.payments .num-block {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.cart-subtext h6 {
    text-transform: uppercase;
    color: #919bac;
    font-size: 10px;
    line-height: 2;
}

.payments .amount-block {
    float: right;
    text-align: right;
    margin-top: 5px;
}

.cart-subtext h6 {
    text-transform: uppercase;
    color: #919bac;
    font-size: 10px;
    line-height: 2;
}

.cart li {
    padding: 16px 18px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #eaedef;
}

.tab2 {
    margin: 40px auto;
}

.cart h5 {
    display: inline;
    font-size: 17px;
    color: #3DAEDF;
}

.cart-coupons h6 {
    text-transform: uppercase;
    color: #919bac;
    font-size: 14px;
}

.cart ul {
    margin-top: 10px;
    max-height: 100%;
    list-style: none;
    position: relative;
    margin: 0 auto;
    padding-left: 0px;
    margin: 0px 30px 0px 0px;
}

.remove-coupon {
    float: right;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    border: 2px solid #dd4d3b;
    border-radius: 50%;
}

.remove-coupon:after {
    position: absolute;
    top: 9px;
    content: '';
    width: 8px;
    height: 2px;
    background: #dd4d3b;
    left: 6px;
}

.rupee {
    float: right;
}

.cart-coupons {
    margin: 0px 0px 0px 40px;
}

.coupon-count {
    color: #919bac;
}

.row.pay {
    /* border: 1px solid; */
    
    margin: 0px 10px;
}

.user-avatar img {
    border-radius: 100%;
    height: 51px;
    width: 50px;
    border: 1px solid grey;
    padding: 8px 0px;
    margin: 18px 0px;
}

.num-block h3 {
    font-size: 19px;
    font-weight: bold;
    line-height: 0px;
    color: #34495e;
}

.num-block {
    float: left;
    margin-top: 15px;
}

.num-block h6 {
    color: #919bac;
    font-weight: bold;
}

.num-block.amount-block {
    float: right;
}

.promocode {
    width: 100%;
    background: #eaedef;
    position: relative;
    padding: 0px;
}

.promocode .arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8px;
    background: url(../images/coupon-arrow2.png) -5px 0 repeat-x;
}

.promocode form {
    padding: 18px 12px 12px;
    z-index: 99;
    position: relative;
    min-height: 78px;
    overflow: hidden;
    -webkit-transition: height .4s ease;
    -ms-transition: height .4s ease;
    -moz-transition: height .4s ease;
    -o-transition: height .4s ease;
    transition: height .4s ease;
}

.promocode .code-field {
    float: left;
    width: 100%;
    margin-right: 10px;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(234, 237, 239);
    padding: 0px 0px 0px 13px;
}

.tab2 .promocode {
    border: 1px solid #EAEDEF;
    border-top: none;
    padding: 0px 0px 90px 0px;
}

button.btn-2 {
    text-align: right;
    background: #919bac;
    border: 1px solid #919bac;
    color: #fff;
    padding: 8px 30px 8px 30px;
    margin: 19px auto;
    text-transform: uppercase;
    font-weight: bold;
}

.promo-ser ul {
    list-style: none;
    display: inline-flex;
}

.promo-ser {
    margin: 23px auto;
    text-align: center;
}

ul.serv-li li {
    text-transform: uppercase;
    font-weight: bold;
    margin: 13px;
    font-size: 12px;
    color: #919bac;
    cursor: pointer;
}

.select-box {
    /* display: inline-block; */
    /* vertical-align: middle; */
    
    cursor: pointer;
    max-height: 24px;
    margin-top: 0px;
}

select#paymentOther {
    text-transform: uppercase;
    outline: 0;
    /* -webkit-appearance: none; */
    
    -moz-appearance: none;
    -ms-appearance: none;
    padding: 6px 6px 7px 8px;
    margin: -9px auto !important;
    border: 1px solid #919bac;
    cursor: pointer;
}

select#paymentOther option {
    text-transform: uppercase;
}
/*
.select-box:after {
    position: absolute;
    top: 44%;
    right: 110px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #999;
    content: "";
    pointer-events: none;
}*/

.dropd-slep {
    margin: 65px auto;
}

.dropd-slep {
    margin: 65px auto;
}

.drop-sl p {
    font-family: "lato";
    font-size: 13px;
    line-height: 0;
}

.dro-sl select {
    font-size: 14px;
    font-family: "lato", 'sans-serif';
    padding: 5px 125px 5px 12px;
    outline: 0;
    cursor: pointer;
    border: 1px solid #C4C4C4;
}

button.cont-btn {
    background: #e24648;
    border: 1px solid #e24648;
    color: #fff;
    font-family: "lato";
    font-size: 13px;
    padding: 2px 15px 2px 15px;
}

.btn-dro {
    margin: 10px auto;
}

.scrollbar-dynamic::-webkit-scrollbar {
    width: 6px;
    border-radius: 26px;
}

.scrollbar-dynamic::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-radius: 10px;
}

.scrollbar-dynamic::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid rgb(204, 204, 204); */
    
    height: 8px;
    border-radius: 20px;
}

input.cred-txt {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: inline-block;
    height: 50px;
    padding: 4px 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    text-indent: 18px;
    color: #919bac;
    vertical-align: middle;
    border-radius: 0;
    border: 1px solid #eaedef;
    background: #fff;
    width: 100%;
}

.select-cred select {
    width: 100%;
    border-color: #eaedef;
    color: #959799;
    height: 50px;
    padding: 14px 10px 17px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

input.cred-cvv.cred-txt {
    width: 64px;
}

.scn {
    margin: 9px auto;
}

.txt-cred {
    margin-bottom: 20px;
}

.frs.row {
    margin: 0px;
}

.bank-list li .bankOption {
    padding: 10px 6px;
    margin: 0 10px 10px 0;
    background: #fff;
    box-shadow: none;
}

.bank-list li .bankOption {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    border: 1px solid #E3E3E3;
    padding: 10px 5px;
    margin: 0 9px 15px 0;
    display: inline-block;
    color: #999;
    font-size: 11px;
    box-shadow: 0 0 1px #E0E0E0;
    background: #FFF;
/*
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F7F7F7));
    background: -webkit-linear-gradient(#FFF 0, #F7F7F7 100%);
    background: -moz-linear-gradient(#FFF 0, #F7F7F7 100%);
    background: -o-linear-gradient(#FFF 0, #F7F7F7 100%);
    background: linear-gradient(#FFF 0, #F7F7F7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
*/
}

.bank-list li .bankOption * {
    float: left;
}
.act{
color: #3DAEDF !important;
}
.bank-list input.rdoIn {
    margin: 7px 10px 0;
    float: left;
    border: 0;
    padding: 0;
}

.rdoIn+span {
    margin-bottom: 8px;
}

input[type=radio]:checked+span {
    border-color: #65c6bb;
}

input[type=radio]+span {
    border-radius: 50%;
}

input[type=radio]+span {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #eaedef;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

input[type=radio]:checked+span:after {
    background: transparent url(../images/radio-dot.png) no-repeat center center;
}

input[type=radio]+span:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
}
.bank-list label.bankOption img {
  float: left;
  margin: 0 10px 0 0;
}
.bankOption input[type=radio] {
  display: none;
}
ul.bank-list {
    list-style: none;
    display: block;
}

ul.bank-list li {
    display: inline-block;
}
h6.abc {
    padding-left: 18px;
    font-size: 14px;
    color: #000;
}
.cat-cpn ul li a:hover {
}