@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
 a:hover {
    text-decoration: none;
}
.nav-cont {
    padding-top: 20px;
}
.nav-cont a {
    color: #fff;
}
.login {
    padding-top: 15px;
}
.logo h1 {
    margin-top: 6px;
}
.thin li a {
    font-size: 14px;
}
.logo a h2 {
    margin-top: 10px;
}
.centered-pills {
    text-align: center;
}
.centered-pills ul.nav-pills {
    display: inline-block;
}
.centered-pills li {
    display: inline;
}
.navbar-default {
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.page-home {
    background-image: url('../images/road.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.blackshade {
    background: rgba(0, 0, 0, 0.35);
    min-height: 667px;
}
.navbar-collapse.collapse.thin {
    padding-top: 10px;
}
.bus-form {
    background: rgba(0, 0, 0, .5);
    min-height: 315px;
    padding: 20px 30px;
    margin-bottom: 70px;
}
.head h4 {
    color: #3DAEDF;
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 20px;
}
label.labels {
    color: #fff;
    font-weight: bold;
}
section.maincont {
    padding-top: 50px;
}
.form-control:focus {
    -webkit-box-shadow: 0px 0px;
    -moz-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
.btnhome {
    padding-right: 0;
}
button.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
button.btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btnhome button.btn.btn-primary {
    background: transparent;
    color: #3DAEDF;
    border-color: #3DAEDF;
    padding: 10px 20px;
}
.btnhome .btn-primary:hover {
    background: transparent;
    color: #3DAEDF;
    border-color: #3DAEDF;
}
button {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.from-mainpage input#From {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
}
.from-mainpage input#From:focus {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.frm-main {
    /* margin: 10px 0; */
}
footer.foot-main {
    background: #eaedef;
    padding: 20px 0 5px;
}
.copy p {
    font-size: 10px;
    color: #919bac;
}
.copy a {
    color: #919bac;
}
.foot-main h3 {
    margin: 0px;
    font-size: 18px;
    color: #596A77;
    margin-bottom: 5px;
}
.foot-main ul>li {
    list-style: none;
    color: #919bac;
}
.foot-main ul {
    padding: 0px;
    margin: 0;
}
.foot-main ul>li>a {
    color: #919bac;
}
.copy {
    padding: 15px 0 0;
}
.logo {
    padding-top: 20px;
}
header a {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
}
header a:hover {
    color: white;
}
header {
    padding-top: 30px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background: transparent;
    color: #3DAEDF;
}
.bus-form input.form-control {
    background: transparent;
    color: #999;
    border: 0px;
    border-bottom: 1px solid #999;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.bus-form input.form-control:focus {
    color: white;
    border-bottom: 1px solid white;
}
.home-cal .btn-info:active,
.home-cal .btn-info.active {
    color: white;
    background: #596A77;
}
.home-cal .text-info {
    color: white;
    text-shadow: none;
    background: rgba(89, 106, 119, 0.44);
    padding: 5px;
}
.home-cal .btn-default {
    background: white;
}
.home-cal .dropdown-menu {
    background: white;
    color: black;
}
.home-cal .btn-default {
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 0;
    color: black;
}
.home-cal .btn.disabled,
.home-cal .btn[disabled],
.home-cal fieldset[disabled] .btn {
    opacity: 1;
    color: #ccc;
}
.home-cal .btn-danger {
    color: #e43725;
    background-color: white;
    border-color: #e43725;
    border: 0px;
    font-size: 14px;
}
.home-cal .btn-info {
    color: #17a689;
    background-color: #fff;
    border-color: #17a689;
    border: 0px;
    font-size: 14px;
}
.home-cal .btn-success {
    color: #2ecc71;
    background-color: #fff;
    border-color: #29b765;
    border: 0px;
    font-size: 14px;
}
button {
    outline: 0 !important;
}
button.btn.btn-outline {
    background: transparent;
    color: white;
    padding: 7px;
    font-size: 18px;
}