<section class="login-set">
    <div class="container">
       
     <div class="col-md-12">
        <div class="abt">
         <h2>About Us</h2>
         <p>Hey there!</p>
         <p>Want to know who we are? We are FreeCharge, a business unit of Accelyst Solutions Pvt. Ltd. And our focus is to create an innovative channel that can deliver more for less to the Indian consumer.</p>
         <p>We don't just make the process of recharging convenient, we make it rewarding, by way of discount coupons. And while we're at it, our super efficient and professionally sound team makes sure our customers are 100% satisfied. Today, we help customers recharge their prepaid mobile phones, DTH connections or data cards, but wait and watch what we get into next. Whatever it is, we promise to make it just as rewarding!</p>
         <p>Wait, we know what you're thinking - How is this rewarding? Is all this really free? Well, for every recharge done on FreeCharge, we give you discount coupons from top food joints and popular retailers, equivalent to your recharge amount, delivered to your mobile, inbox or doorstep. Use the coupons to save money when you eat out, watch movies, book travel tickets, shop online, visit a salon, go gaming, pick up books, music, groceries, and live a rewarding life!</p>
         <h2>We promise:</h2>
         <ul>
             <li>An easy and instant recharging process</li>
             <li>A hassle-free online experience</li>
             <li>A safe and secure payment process</li>
             <li>Best discounts available in the market</li>
             <li>Coupon delivery with no delay</li>
             <li>Simple voucher redemption with no hidden costs or complex terms and conditions</li>
             
         </ul>
         <p>After all, you know it's a smart thing to do!</p>
         </div>
     </div>
    </div>
</section>