<div class="trav-det">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 pull-left">
                <div class="py-logo">
                    <img src="images/bus.png">
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="pay-head">
                    <p>Need Help? CallMumbai<span>(022) 000 00000</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">


    <div class="row">
        <div class="col-md-8">

            <div class="travel-det">
                <p>Travel Details</p>
            </div>
            <div class="tr-content">
                <div class="row marg-top">
                    <div class="col-md-6">

                        <span class="right-margin-50 lb">Name<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="text" placeholder="Enter Passenger Name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="LB BMargin LH">Gender<b class="asterik">*</b></span>
                        <div class="LB btnCol">
                            <input type="radio" name="TITLE1" class="mval male radBt" value="Mr" id="male1" data-validate="">
                            <label for="male1" class="radBt malelbl">M</label>
                            <input type="radio" name="TITLE1" class="mval female radBt" value="Ms" id="female1" data-validate="genderval1" data-message="Choose gender">
                            <label for="female1" class="radBt femalelbl">F</label>
                            <div class="errorMessageFixed radMar"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="right-margin-10 lb">Age<b class="asterik">*</b></span>

                        <div class="trav-names lb">
                            <input type="text" placeholder="Age">
                        </div>

                    </div>
                </div>
                <div class="row marg-top ">
                    <div class="col-md-6">

                        <span class="right-margin-50 lb">Name<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="text" placeholder="Enter Passenger Name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="LB BMargin LH">Gender<b class="asterik">*</b></span>
                        <div class="LB btnCol">
                            <input type="radio" name="TITLE1" class="mval male radBt" value="Mr" id="male1" data-validate="">
                            <label for="male1" class="radBt malelbl">M</label>
                            <input type="radio" name="TITLE1" class="mval female radBt" value="Ms" id="female1" data-validate="genderval1" data-message="Choose gender">
                            <label for="female1" class="radBt femalelbl">F</label>
                            <div class="errorMessageFixed radMar"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span class="right-margin-10 lb">Age<b class="asterik">*</b></span>

                        <div class="trav-names lb">
                            <input type="text" placeholder="Age">
                        </div>

                    </div>
                </div>
                <div class="row marg-top ">
                    <div class="col-md-6">

                        <span class="right-margin-50 lb">E-mail<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="text" placeholder="Ticket will be sent to this mail ID">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="right-margin-10 lb">Mobile<b class="asterik">*</b></span>
                        <div class="lb">
                            <input type="text" class="code lb" placeholder="+91">
                            <input type="text" class="mob-num" placeholder="SMS will be sent to this No.">
                        </div>
                    </div>

                </div>
            </div>
            <div class="travel-det">
                <p>Pickup Details</p>
            </div>
            <div class="tr-content">
                <div class="row marg-top">
                    <div class="col-md-6">

                        <span class="right-margin-50 lb">Area Name<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="text" placeholder="Enter Area Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                  <span class="right-margin-50 lb">Full Address<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                          <textarea rows="3" cols="30" placeholder="Describe yourself here...">

</textarea>
                        </div>
                    </div>
                   
                </div>
                <div class="row marg-top ">
                     <div class="col-md-6">
                    <span class="right-margin-50 lb" style="margin-right:42px;">Landmark<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="text" placeholder="Enter Landmark">
                        </div>
                    </div>
                    <div class="col-md-6">
 <span class="right-margin-50 lb"style="margin-right:61px;" >Pincode<b class="asterik">*</b></span>

                        <div class="trav-name lb">
                            <input type="number" placeholder="Enter Pincode">
                        </div>
                      
                    </div>
                  
                   
                </div>
                <div class="row marg-top ">
                    <div class="col-md-6">

                    
                    </div>
                    <div class="col-md-6">
                     
                    </div>

                </div>
            </div>
            <div class="bs-travel">
                <div class="travel-det">
                    <p>Bus Details</p>
                </div>
                <div class="row bs-det">
                    <div class="col-md-4">
                        <div class="trvl-name">
                            <h5>Travel Name</h5>
                            <h6>Geeta Travel</h6>
                            <h6>(022) 8888888, (022) 8888888.</h6>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="trvl-rout">
                            <h5>Car Route</h5>
                            <h6>Mumbai To Goa</h6>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="trvl-rout">
                            <h5>Date</h5>
                            <h6>Fri, June, 6, 2015</h6>
                        </div>

                    </div>
                </div>
                <div class="row bs-det">
                    <div class="col-md-4">

                        <div class="trvl-add">
                            <h5>Pickup City</h5>
                            <h6>Mumbai, Maharastra </h6>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="bs-type">
                            <h5>Car Type</h5>
                            <h6>Budget - Dzire </h6>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="seat-numbr">
                            <h5>Total Seat</h5>
                            <h6>8</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cpns-code">
                <p>
                    <input type="text" placeholder="Enter your coupon code">
                    <button class="cpns-btn">Apply coupon</button>
                    <button class="cpns-btn pull-right">Continue</button>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="travel-det">
                <p>Payment Summary</p>
            </div>
            <div class="row pay-amnt">
                <div class="col-md-6 bold text-algn">
                    <h5 class="">Onword Fare</h5>
                    <h6 class="">Operator Offer</h6>
                </div>
                <div class="col-md-6 bold text-algn">
                    <h5 class="txt-algn">Rs.800</h5>
                    <h6 class="txt-algn">- Rs.40</h6>
                </div>

            </div>
            <div class="totl">
                <p>
                    <h4 class="pl-lrft">Total</h4>
                    <h4 class="right-pl">Rs.700</h4>
                </p>
            </div>

        </div>
    </div>

</div>