<div class="main-content clearfix">
    <div class="left-content">
        <div class="coupon l">
            <div class="coupon-wrapper">
                <div class="tnc-coupon-overley"></div> <img class="hero" src="https://d32vr05tkg9faf.cloudfront.net/content/images/coupon/web/235_1416549280272.png"> <img class="brand" src="">
                <div class="coupon-content">
                    <div class="tags"> <span class="tag food">Food</span>
                    </div>
                    <h1>Get 15% off @ Dominos.co.in</h1>
                </div>
            </div>
        </div>
        <div class="main-details clearfix">
            <div class="save-amount"> <span>save</span>
                <div>₹50</div>
            </div>
            <div class="expires"> <span>Expires on</span>
                <div>30 Sep 2015</div>
            </div>
            <div class="barcode"></div>
            <button class="btn full-btn green pickTncCoupon" data-id="235">Pick for ₹0</button>
        </div>
    </div>
    <div class="vendor">Dominos</div>
    <div class="right-content">
        <div class="coupon-disclaimer">
            <h6>This coupon can be redeemed only on the merchant website</h6> <span>Punch in the coupon code during checkout</span>
        </div>
        <div class="available-in">
            <h6>Available in</h6> <span>All</span>
        </div>
        <div class="tandc">
            <h6>Terms &amp; Conditions</h6>
            <ol>
                <li>Offer Highlights:</li>
                <li>Enjoy flat 15% discount on minimum billing of Rs. 350 at www.dominos.co.in </li>
                <li></li>
                <li>How to redeem this Offer:</li>
                <li>You will receive an e-coupon code via e-mail as soon as your recharge/bill payment transaction on FreeCharge is successful .</li>
                <li>You need to apply the coupon code at the time of placing the order on www.dominos.co.in</li>
                <li></li>
                <li>Terms of this Offer:</li>
                <li>Offer not valid on Simply Veg, Simply Non Veg Pizzas, Pizza Mania Combos and Beverages. </li>
                <li>Only one Coupon Code is valid per transaction and cannot be clubbed with any other offer or promotion. </li>
                <li>Offer valid only on orders placed ONLINE.</li>
                <li>Offer valid till 30th September, 2015.</li>
            </ol>
        </div>
    </div>
</div>