<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="cpn-hd ">
                <h3>Grab Unlimited offer with your coupons!</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="cat-cpn">
                <ul>
                  
                    <li ng-class="filter.class" ng-repeat="filter in filters"><a ng-click="changefilter(filter.name);" style="text-transform:capitalize;">{{filter.name}}</li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="sli-cp cd-gallery">
        <div class="cpn-img coupons-grid"  >
           
            <div class="galleryitem" ng-repeat="coupon in coupons|filter:filter">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" ng-src="{{coupon.image}}">
                       <div class="gradient-overlay">
                        <span class="msg">{{coupon.title}}</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags" >
                            <span class="tag {{tag}}" ng-repeat="tag in coupon.tags">
                                {{tag}}
                            </span>
                          
                        </div>
                        <h1>{{coupon.name}}</h1>
                    </div>
                    <button class="btn green pickCoupon">{{coupon.button}}</button>
                </div>
                </div>
            </div>
      
        </div>
        
    </div>
    </div>
    </div>
    <div pageslide ps-open="checked" ps-speed="0.8">
                   <div class="clos-btn" id="demo-right">
                   <img class="img-cl" src="images/close.png" ng-click="toggle()">
                    <div style="" class="custom-slid" >
                        <h4>Order Summary</h4>
                        <div class="recharge-details">
                        <i class="fa fa-mobile"></i>
                       <h5 class="number">8796622179</h5> <span class="vendor">Aircel Maharashtra</span><span class="edit-recharge" style="display: none;"></span> <span class="recharge-amount">100</span><div class="icon Mobile"></div>
                        </div>
                     
                    </div>
                     <button type="submit">Proceed to pay</button>
                    </div>
                </div>
</div>