<div class="container">
    <div class="row">
    <div class="ggl-map text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.8012985523833!2d72.900164!3d19.072472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6277363c179%3A0x36691e6c95a165c3!2sWohlig+Technologies+LLP!5e0!3m2!1sen!2sin!4v1432642403456" width="100%" height="400" frameborder="0" style="border:0"></iframe>
    </div>
</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="cat-cpn">
                <ul>

                    <li ng-class="filter.class" ng-repeat="filter in filters"><a ng-click="changefilter(filter.name);" style="text-transform:capitalize;">{{filter.name}}</li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row pad-bt">
           
           <div class="slider-li">
              <div class="slider-dv">
               <ul class="sli-ul" >
                   <li ng-repeat="coupon in coupons|filter:filter">
                       <div class="img-box" ng-click="tabclick(coupon);">
                       
                        <figure>
                   <img class="" ng-src="images/810_1416552824765.png">
                   <div class="layer" ng-hide="coupon.layer">
                   <p class="tags">{{coupon.tags}}</p>
                   <figcaption class="fig-cp">{{coupon.name}}</figcaption>
                   <p class="ly-sl">Select</p>
                   </div>
                   <div class="layer2" ng-show="coupon.layer">
                       <i class="ln-checkmark"></i>
                       <p>{{coupon.title}}</p>
                   </div>
                 
               </figure>
                  </div> 
                  
                               </li>
                        
               </ul>
               </div>
           </div>   
   
    </div>
    <div pageslide ps-open="checked" ps-speed="0.8">
                   <div class="clos-btn" id="demo-right">
                       <i class="ln-cross img-cl" ng-click="toggle()"></i>



                       <div class="tab1" ng-hide="tab1div">
                    <div style="" class="custom-slid" >
                        <h4>Order Summary</h4>
                        <div class="recharge-details">
                        <i class="fa fa-mobile"></i>
                       <h5 class="number">8796622179</h5> <span class="vendor">Aircel Maharashtra</span><span class="edit-recharge" style="display: none;"></span> <span class="recharge-amount">100</span><div class="icon Mobile"></div>
                        </div>
                     
                    </div>
                    <div class="cart-coupons cart">
                        <h6>Coupon Picked</h6>
                        <ul>
                          <li ><h5>Dominos</h5><h5 class="coupon-count"> x 1</h5><a class="remove-coupon" href=""></a>  <span class="rupee"><span id="totalPrice" style="">₹0</span></span>
                    </li>

                </ul>
            </div>
            <!--
            <button class=" btns-1 " type="submit" ng-click="tabclick();">Proceed to pay<span class="rs-py">₹100</span>
            </button>
-->
        </div>



        <div class="tab2" ng-hide="tab2div">
            <div class="row pay">

                <div class="payment-info">
                    <div class="col-md-2">
                        <div class="user-avatar">
                            <img src="images/r51.jpg" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="num-block">
                            <h3>8796622179</h3>

                            <h6>Aircel, Maharashtra</h6>


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="num-block amount-block">
                            <h3 id="paymentAmount">₹100</h3>

                            <h6 id="couponCountText">Includes 1 coupon</h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="promocode">
                    <div class="arrow"></div>
                    <div class="col-md-8">
                        <form>
                            <div class="field">
                                <input type="text" class="code-field" placeholder="Enter free fund / Promocode">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="btns-promo ">
                            <button class="btn-2" type="submit">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="promo-ser">
                        <ul class="serv-li">
                            <li ng-class="classd" ng-click="tabchange('debit',1)">Debit / Credit</li>
                            <li ng-class="classe" ng-click="tabchange('netbanking',2)">Netbanking</li>
                            <li>
                                <div class="select-box">


                                    <select id="paymentOther" ng-model="cardtype" ng-class="class" ng-change="tabchange(cardtype,3)">
                                        <option value="">Other</option>
                                        <option value="atm">ATM Card</option>
                                        <option value="cash">Cash Card</option>
                                        <!--                                        <option value="ezeClick">Amex EzeClick</option>-->
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="frs row" ng-show="tab=='debit'">
                <div class="cred">
                    <div class="trh">
                        <div class="col-md-12">
                            <div class="txt-cred">
                                <input class="cred-txt" type="text" placeholder="XXXX  XXXX  XXXX  XXXX  XXXX">
                            </div>
                        </div>
                    </div>
                    <div class="scn">
                        <div class="col-md-4">
                            <div class="select-cred">


                                <select>
                                    <option value="Other">Expiry Date</option>
                                    <option value="Other">2015</option>
                                    <option value="atmCard">2016</option>
                                    <option value="cashCard">2017</option>
                                    <option value="ezeClick">2018</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="select-cred">


                                <select>
                                    <option value="Other">Expiry Month</option>
                                    <option value="Other">2015</option>
                                    <option value="atmCard">2016</option>
                                    <option value="cashCard">2017</option>
                                    <option value="ezeClick">2018</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cvv">
                                <input class="cred-cvv cred-txt" type="text" placeholder="CVV">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="frs row scnd" ng-show="tab=='netbanking'">
                <div class="bnk-set">
                    <ul class="bank-list">
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/icicibank.png" alt="ICICI" title="ICICI" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/statbank.png" alt="SBI" title="SBI" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/hdfcbank.png" alt="HDFC" title="HDFC" width="98" height="28">
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="frs row scnd" ng-show="tab=='atm'">
                <div class="bnk-set">
                    <ul class="bank-list">
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/punjabNationalBank.png" alt="Punjab National Bank" title="Punjab National Bank" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/canarabank.png" alt="Canara Bank Debit Card (ATM PIN)" title="Canara Bank Debit Card (ATM PIN)" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/citibank.png" alt="Citibank Debit Card (IPIN)" title="Citibank Debit Card (IPIN)" width="98" height="28">
                            </label>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="frs row scnd" ng-show="tab=='cash'">
                <div class="bnk-set">
                    <ul class="bank-list">
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/icicibank.png" alt="ICICI" title="ICICI" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/statbank.png" alt="SBI" title="SBI" width="98" height="28">
                            </label>
                        </li>
                        <li>
                            <label class="bankOption">
                                <input type="radio" class="rdoIn" name="paymentoption" value="SBIN" checked="checked"><span></span> 
                                <img class="img-responsive" src="https://dmx246cm6p7k8.cloudfront.net/content/images/hdfcbank.png" alt="HDFC" title="HDFC" width="98" height="28">
                            </label>
                        </li>

                    </ul>
                </div>
            </div>


        </div>

        <button class=" btns-1 " type="submit" ng-click="tabclicks();">Proceed to pay<span class="rs-py">₹100</span>
        </button>
    </div>
</div>
</div>


<div class="main-content popoverlay" ng-show="coupondiv">
    <div class="container login-set">
        <div class="popoverlay">
            <div class="form-fixhead"></div>
            <div class="holder1">
                <div class="row">

                    <div class="col-md-7">
                        <div class="left-content">
                            <div class="coupon l">
                                <div class="coupon-wrapper">
                                    <div class="tnc-coupon-overley"></div>
                                    <img class="hero" src="https://d32vr05tkg9faf.cloudfront.net/content/images/coupon/web/1297_1418211534934.png">
                                    <img class="brand" src="">
                                    <div class="coupon-content mhs">
                                        <div class="tags "> <span class="tag food">Food</span>
                                        </div>
                                        <h1>Get FREE burger and iced tea with your meal</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="main-details clearfix">
                                <div class="save-amount"><span>save</span>
                                    <div>₹50</div>
                                </div>
                                <div class="expires"> <span>Expires on</span>
                                    <div>30 Jun 2015</div>
                                </div>
                                <div class="barcode"></div>
                                <button class="btn full-btn green pickTncCoupon" data-id="1297">Pick for ₹0</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <i class="ln-cross closebtn" ng-click="hidecoupon()"></i>
                        <div class="vendor">McDonald's North and East</div>
                        <div class="right-content">
                            <div class="coupon-disclaimer">
                                <h6>This coupon can be redeemed only on the merchant website</h6>  <span>Punch in the coupon code during checkout</span>
                            </div>
                            <div class="available-in">
                                <h6>Available in</h6><span>Ludhiana / Meerut / Agra / Gurgaon / Jammu / Faridabad / Allahabad / Gwalior / Hoshiarpur / Udaipur / HARDWAR / Jodhpur / Chandigarh / MUZZAFARNAG / Jalandhar / KHANNA / Ajmer / Jaipur / Karnal / Delhi / Manesar / Kanpur / Bareilly / Patiala / Ambala / Varanasi / Patarsi / Kolkata / Amritsar / Panipat / Kota / Mathura / Mohali / Bhopal / Howrah / Sonepat / Noida / Lucknow / Ghaziabad / Dehradun / Amroha</span>
                            </div>
                            <div class="tandc">
                                <h6>Terms &amp; Conditions</h6>
                                <ol>
                                    <li>Offer Highlights:</li>
                                    <li>Get a complimentary McAloo Tikki ™ Burger and Ice Tea (Regular) on spends of Rs.100 or above. Taxes extra.</li>
                                    <li></li>
                                    <li>How to redeem this offer:</li>
                                    <li>Customer has to handover the printed copy of the complete e-coupon mailer at the time of billing at McDonald ™ store for availing the offer. Customer will not be entitled to avail the offer if the complete printout is not produced.</li>
                                    <li></li>
                                    <li>Terms of this offer:</li>
                                    <li>- Rs.50 displayed in the e-coupon is an indicative value.</li>
                                    <li>- Offer valid at McDonald ™ Family Restaurant (North and East) - Delhi NCR, Punjab, Haryana, Himachal Pradesh, Uttarakhand, Rajasthan, Uttar Pradesh, West Bengal, Jammu and Madhya Pradesh (Gwalior and Bhopal).</li>
                                    <li>- Offer not redeemable at Airport Stores, DLF Mega Mall and Cyber Green Gurgaon.</li>
                                    <li>- One voucher will be honored per billing. Present printed copy of the e-coupon at the time of billing at McDonald ™ store.</li>
                                    <li>- Offer not valid on McDelivery ™ and with other offers scheme. Offer cannot be redeemed for cash.</li>
                                    <li>- Offer not valid during breakfast hours.</li>
                                    <li>- Offer valid till 30th June, 2015.</li>
                                    <li>- In the event the product offered in the e-coupon is not available due to any reason whatsoever, the store can offer a product of equivalent value to the customer.</li>
                                    <li>- For detailed terms and conditions refer to www.mcdonaldsindia.com</li>
                                    <li>- For any queries or assistance, please write to care@freecharge.com</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="spn">
                    <!--
                    <p class="abc">Don't have an account ? Click <a  class="loginlink cpointer">here</a> to  create one
                    </p>
-->
                    <h6 style="color:#000;  font-size: 14px;padding-left: 16px;">Don't have an account ? Click <span style="color:#3DAEDF"> here </span>to  create one</h6>


                </div>

            </div>
        </div>
    </div>
</div>