<div class="container">
    <div class="row">
        <div class="cpn-hd text-center">
            <h3>Grab Unlimited offer with your coupons!</h3>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row sli-cp">
        <div class="cpn-img coupons-grid ">
           <div class="col-md-1"></div>
            <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                    <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                    <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
              <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                  </div>
            </div>
             <div class="col-md-1"></div>
        </div>
        <div class="cpn-img coupons-grid ">
           <div class="col-md-1"></div>
            <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                    <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
              <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                  </div>
            </div>
             <div class="col-md-1"></div>
        </div>
        <div class="cpn-img coupons-grid ">
           <div class="col-md-1"></div>
            <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                    <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
            <div class="col-md-2">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                </div>
            </div>
              <div class="col-md-2 ">
               <div class="coupons couponss">
                <div class="coupon-wrapper">
                    <img class="heros" src="images/810_1416552824765.png">
                       <div class="gradient-overlay">
                        <span class="msg">you can pick this coupon only once</span>
                    </div>
                     <div class="curtain"></div>
                    <div class="coupon-content">
                        <div class="tags">
                            <span class="tag food">
                                food
                            </span>
                            <span class="save">
                                save
                            </span>
                        </div>
                        <h1>Free Garlic bread!</h1>
                    </div>
                    <button class="btn green pickCoupon">pick for ₹0</button>
                </div>
                  </div>
            </div>
             <div class="col-md-1"></div>
        </div>
    </div>
    <div pageslide ps-open="checked" ps-speed="0.8">
                   <div class="clos-btn" id="demo-right">
                   <img class="img-cl" src="images/close.png" ng-click="toggle()">
                    <div style="" class="custom-slid" >
                        <h4>Order Summary</h4>
                        <div class="recharge-details">
                        <i class="fa fa-mobile"></i>
                       <h5 class="number">8796622179</h5> <span class="vendor">Aircel Maharashtra</span><span class="edit-recharge" style="display: none;"></span> <span class="recharge-amount">100</span><div class="icon Mobile"></div>
                        </div>
                     
                    </div>
                     <button type="submit">Proceed to pay</button>
                    </div>
                </div>
</div>