<footer class="foot-main">
    <div class="container footer-menu">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="text-center ftr-head">
                    <img src="images/logo.png" style="padding-bottom:10px;">
                    
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="ftr-head">
                    <h3>Zift</h3>
                    <ul>
                        <li><a href="#">Flights</a>
                        </li>
                        <li><a href="#">Hotels</a>
                        </li>
                        <li><a href="#/home">Bus</a>
                        </li>
                        <li><a href="#/car">Cabs</a>
                        </li>
                        <li><a href="#">Holidays</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="ftr-head">
                    <h3>Customer support</h3>

                    <ul>
                        <li><a href="#">Print</a>
                        </li>
                        <li><a href="#">Cancel</a>
                        </li>
                        <li><a href="#">Status</a>
                        </li>
                        <li><a href="#">FAQ's</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="ftr-head">
                    <h3>Company</h3>

                    <ul>
                        <li><a href="#/about">About us</a>
                        </li>
                        <li><a href="#">Blog</a>
                        </li>
                        <li><a href="#">Careers</a>
                        </li>
                        <li><a href="#/contactus">Contact Us</a>
                        </li>
                        <!--
                        <li><a href="#/term">Terms & Conditions</a>
                        </li>
-->
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Disclaimer Notice</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="ftr-head soc">
                    <h3>Community</h3>

                    <ul class="" style="padding-left:0;">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter twit-color"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

<!--
        <div class="copy">

            <div class="pull-left">Copyrights, ZIFT Pvt Ltd,All Right Reserved {{template.year}}
            </div>
              <div class="pull-right">
                 <span class="ml20">Safe and Secure Online Payments</span>
            </div>
            <div class="pull-right">
                <img src="images/visa-mastercard.png"> 
            </div>
          

        </div>
-->
    </div>
</footer>