<footer class="foot-main">
    <div class="container footer-menu">
        <div class="row ">
            <div class="col-md-3 col-xs-6">
                <h3>Company Infomation</h3>
                <ul>
                    <li><a href="#/about">About us</a>
                    </li>
                    <li><a href="#/contactus">Contact Us</a>
                    </li>
                    <li><a href="#/term">Terms & Conditions</a>
                    </li>
                    <li><a href="#">Privacy Policy</a>
                    </li>
                     <li><a href="#">Disclaimer Policy</a>
                    </li>
                </ul>
            </div>
               <div class="col-md-3 col-xs-6">
                <h3>Customer support</h3>
                <ul>
                    <li><a href="#">Print</a>
                    </li>
                    <li><a href="#">Cancel</a>
                    </li>
                    <li><a href="#">Status</a>
                    </li>
                    <li><a href="#">Faqs</a>
                    </li>
                </ul>
            </div>
               <div class="col-md-3 col-xs-6">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Flight</a>
                    </li>
                    <li><a href="#">Hotel</a>
                    </li>
                    <li><a href="#/home">Bus</a>
                    </li>
                    <li><a href="#">Holidays</a>
                    </li>
                    <li><a href="#/car">Cabs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <p>&copy; All Right Reserved {{template.year}} 
            </p>

        </div>
    </div>
</footer>
