
<footer class="foot-main">
    <div class="container footer-menu">
        <div class="row">
            <div class="col-md-3">
                <h5 class="foot-head">Top Bus Routes</h5>
                <ul class="footulmain">
                    <li>Event Academy</li>
                    <li>Classes</li>
                    <li>Conferences</li>
                    <li>Endurance Events</li>
                    <li>Food &amp; Wine Events</li>
                    <li>Politics</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="foot-head">Plan Events</h5>
                <ul class="footulmain">
                    <li>Event Academy</li>
                    <li>Classes</li>
                    <li>Conferences</li>
                    <li>Endurance Events</li>
                    <li>Food &amp; Wine Events</li>
                    <li>Politics</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="foot-head">Plan Events</h5>
                <ul class="footulmain">
                    <li>Event Academy</li>
                    <li>Classes</li>
                    <li>Conferences</li>
                    <li>Endurance Events</li>
                    <li>Food &amp; Wine Events</li>
                    <li>Politics</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="foot-head">Secured</h5>
                <ul class="footulmain">
                    <li>Event Academy</li>
                    <li>Classes</li>
                    <li>Conferences</li>
                    <li>Endurance Events</li>
                    <li>Food &amp; Wine Events</li>
                    <li>Politics</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="copy">
        <div class="container"><p>&copy; All Right Reserved {{template.year}} <span class="pull-right"> Powered by <a href="#">Wohlig Technologies </a></span></p>
        
        </div>
        </div>
</footer>
