   <div class="content">
    <header class="container">
        <div class="nav-cont">
            <div class="col-xs-4">
                <div class="logo">
                    <a href="#/home">
                        <h2>Blue Bus</h2>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse thin">
                        <div class="centered-pills">
                            <ul class="nav nav-pills">
                                <li><a href="#">Bus</a>
                                </li>
                                <li><a href="#">Car</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </nav>
            </div>

            <div class="col-xs-4">
                <div class="pull-right login">
                    <a href="#"><i class="lnr lnr0"></i>Login</a>
                </div>
            </div>
        </div>
    </header>
</div>