<section class="maincont page-home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="bus-form" ng-controller="Datepicker">
                    <div class="">
                        <div class="head">
                            <h4>Online Bus Tickets Booking with Zero Booking Fees</h4>
                        </div>
                    </div>
                    <div class="row frm-main">
                        <div class="col-md-6">

                            <div class="form-group from-mainpage">
                                <label class="labels">From</label>
                                <input type="text" class="form-control" placeholder="Enter Your City">
                            </div>

                        </div>
                        <div class="col-md-6">
<span class="rtn"><i class="ln-tab"></i></span>
                            <div class="form-group from-mainpage">
                                <label class="labels">To</label>
                                <input type="text" class="form-control" placeholder="Enter Your City">
                            </div>

                        </div>
                    </div>
                    <div class="row frm-main home-cal">
                        <div class="col-md-6">

                            <div class="form-group from-mainpage">
                                <label class="labels">Date of Journey</label>
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="dt1" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-outline" ng-click="open($event)"><i class="ln-calendar3"></i></button>
              </span>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group from-mainpage">
                                <label class="labels">Date of Return (Optional)</label>
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-outline" ng-click="open($event)"><i class="ln-calendar3"></i></button>
              </span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="btnhome text-right">
                       <a href="#/bus"> <button type="button" class="btn btn-primary">Search</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="home-content">
    <div class="container">
       <div class="text-center">
               <h2>Why ZIFT</h2>
           </div>
        <div class="row mt20">
           
            <div class="col-md-3">
                <div class="text-center">
                    <img src="images/demo.jpg">
                    <h3>Great Deals</h3>
                </div>
                <p>
                    Get Exiting online & offline deals thereby reducing total travelling cost.
                </p>
            </div>
            <div class="col-md-3">
                 <div class="text-center">
                    <img src="images/demo.jpg">
                    <h3>Easy Comparison</h3>
                </div>
                <p>
                    Get Exiting online & offline deals thereby reducing total travelling cost.
                </p>
            </div>
            <div class="col-md-3">
                 <div class="text-center">
                    <img src="images/demo.jpg">
                    <h3>24x7 Customer Service</h3>
                </div>
                <p>
                    Get Exiting online & offline deals thereby reducing total travelling cost.
                </p>
            </div>
            <div class="col-md-3">
                 <div class="text-center">
                    <img src="images/demo.jpg">
                    <h3>One Stop Travel Shop</h3>
                </div>
                <p>
                    Get Exiting online & offline deals thereby reducing total travelling cost.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="home-content">
 <div class="container">
 <div class="text-center">
               <h2>Every Transaction is a saving experience for you</h2>
          
 </div>
 
 <div class="text-center">
      <div class="col-md-3">
          <img src="images/dem.jpg" >
      </div> 
      <div class="col-md-2">
          <img src="images/lv.jpg">
      </div>     
      <div class="col-md-2">
          <img src="images/dm.jpg">
      </div>     
      <div class="col-md-2">
          <img src="images/cof.jpg">
      </div>     
      <div class="col-md-3">
          <img src="images/crcof.jpg">
      </div>
      </div>
      </div>
      </div>
<div class="home-content">
 <div class="container">
 <div class="text-center">
               <h2>Top Travel Offers</h2>
 </div>
   <div class="row mt20">
    <div class="row">
        <div class="text-center">
      <div class="col-md-4">
         <div class="text-center">
          <img src="images/tour.jpg" >
          <h6>20% off Darjeeling tour</h6>
      </div> 
      </div> 
      <div class="col-md-4">
         <div class="text-center">
          <img src="images/t1.jpg" >
          <h6>50% off Goa offer</h6>
      </div> 
      </div> 
      <div class="col-md-4">
          <div class="text-center">
          <img src="images/t6.jpg" >
           <h6>Beautiful maldives</h6>
      </div> 
      </div> 
      </div> 
      </div>
           <div class="row">
               <div class="text-center">
      <div class="col-md-4">
          <div class="text-center">
          <img src="images/t5.jpg" >
           <h6>10% off singapur</h6>
      </div> 
      </div> 
      <div class="col-md-4">
          <div class="text-center">
          <img src="images/tour4.jpg" >
           <h6>10% off Turkey 4 nights 3 days</h6>
      </div> 
      </div> 
      <div class="col-md-4">
          <div class="text-center">
          <img src="images/tour5.jpg" >
           <h6>10% off Lah Ladakh</h6>
      </div> 
      </div> 
      </div> 
       </div>
       </div>
      </div> 
      </div> 
       
     
      
      
    
                      