<section class="maincont">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="bus-form" ng-controller="Datepicker">
                    <div class="col-md-12">
                        <div class="head">
                            <h4>Online Bus Tickets Booking with Zero Booking Fees</h4>
                        </div>
                    </div>
                    <div class="col-md-12 frm-main">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group from-mainpage">
                                    <label class="labels">From</label>
                                    <input type="text" class="form-control" id="From" placeholder="Enter Your City">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="form-group from-mainpage">
                                    <label class="labels">To</label>
                                    <input type="text" class="form-control" id="From" placeholder="Enter Your City">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 frm-main">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group from-mainpage">
                                    <label class="labels">Date of Journey</label>
                                    <input type="date" class="form-control" id="From" placeholder="Enter Your City">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div class="form-group from-mainpage">
                                    <label class="labels">Date of Return</label>
                                    <input type="date" class="form-control" id="From" placeholder="Enter Your City">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="btnhome pull-right">
                        <button type="button" class="btn btn-info">Search Buses</button>
                    </div>

                    <!--               date picker   -->

                    <!--
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-6">
            <p class="input-group">
              <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
-->
                    <!--               date pcker end  -->




                </div>
            </div>
        </div>
    </div>
</section>