<section class="login-set">
    <div class="container">
       <div class="form-fixhead"></div>
        <div class="holder1">
            <div class="row">

                <div class="col-md-7">
                    <div class="signin">
                        <h3 class="createtitle">Signin with your account</h3>
                        <h5 class="createcon">Welcome back! Enter your password to login!</h5>
                        <div class="signinor">
                            <form class="frm-bdr" ng-submit="userlogin(user)">
                                <input type="email" class="custom-input signin-input" ng-model="" placeholder="Enter your email *" ng-class="allvalidation[0].validation" required>
                                <br>
                                <input type="password" class="custom-input signin-input" ng-model="" placeholder="Password *" ng-class="allvalidation[1].validation" required>
                                <br>
                                <a href="#/forgetpass" class="forgetlink"> Forgot your password? </a>
                                <br>
                                <button type="submit" class="createacc cpointer"> Login</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="gogbtn">
                        <a href="#" class="btnsoc  fa fa-google-plus"> <span class="ic">Sign in with Google </span></a>
                        <a href="#" class="btnsoc fa fa-facebook"> <span class="ic">Sign in with Facebook </span></a>
                        <a href="#" class="btnsoc fa fa-twitter"> <span class="ic">Sign in with Twitter</span> </a>
                    </div>
                </div>

            </div>

            <div class="border1">
                <p class="abc"> <span class="alreadys">Don't have an account ? Click <a href="#/signup" class="loginlink">here</a> to  create one </span>
                </p>


            </div>

        </div>
    </div>
</section>