<section class="login-set">
    <div class="container">
       <div class="form-fixhead"></div>
        <div class="holder2">
            <div class="row">

                <div class="col-md-12">
                    <div class="for-hd">
                        <h5> Reset your password </h5>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                     <input type="password" class="custom-input signin-input" ng-model="" placeholder="Reset password *" ng-class="allvalidation[0].validation" required>
                </div>
                <div class="col-md-4">
                      <button type="submit" class="createa cpointer"> Clear</button>
                </div>
            </div>
             <div class="row">
                <div class="col-md-8">
                     <input type="password" class="custom-input signin-input" ng-model="" placeholder="Confirm password *" ng-class="allvalidation[0].validation" required>
                </div>
                <div class="col-md-4">
                      <button type="submit" class="createa cpointer"> Update</button>
                </div>
            </div>

            <div class="border1">
                <p class="abc"> <span class="alreadys">Don't have an account ? Click <a href="#/signup" class="loginlink">here</a> to  create one </span>
                </p>
                <p class="abc"> <span class="alreadys">Already have a  account? Click <a href="#/login" class="loginlink"> here</a> to login </span>
                </p>
                


            </div>

        </div>
    </div>
</section>