<div class="holder" ng-controller="bus">
    <div class="bus-ui">
        <div class="drivercabin"><i class="jon steering"></i>
        </div>
        <div class="passengerseats">
            <div class="row-seats margined">
                <i class="jon none"></i>
                <i class="jon lady-seat" ng-click="selectMe($event);"></i>
                <i class="jon reserved-seat"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-seat last-seat" ng-click="selectMe($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon none"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
                <i class="jon empty-seat" ng-click="selectMe($event);"></i>
            </div>
        </div>
    </div>
</div>