<div class="holder" ng-controller="bus">
    <div class="bus-ui">
        <div class="drivercabin">
        <p class="upperlbl">UPPER</p>
        </div>
        <div class="passengerseats">
            <div class="row-seats margined">
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
        </div>
    </div>
</div>
<div class="holder" ng-controller="bus">
    <div class="bus-ui">
        <div class="drivercabin"><i class="jon steering"></i>
        <p class="lowerlbl">LOWER</p>
        </div>
        <div class="passengerseats">
            <div class="row-seats margined">
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
        </div>
    </div>
</div>