<div class="holder" ng-controller="bus">
   <div class="row">
   <div class="col-md-8">
    <div class="bus-ui">
        <div class="drivercabin">
        <p class="upperlbl">UPPER</p>
        </div>
        <div class="passengerseats">
            <div class="row-seats margined">
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
        </div>
    </div>


    <div class="bus-ui">
        <div class="drivercabin"><i class="jon steering"></i>
        <p class="lowerlbl">LOWER</p>
        </div>
        <div class="passengerseats">
            <div class="row-seats margined">
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon lady-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                <i class="jon sleeper-booked sleeper-last" ng-click="selectbea($event);"></i>
            </div>
            <div class="row-seats">
                
            </div>
            <div class="row-seats">
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon sleeper-booked" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
                <i class="jon empty-sleeper" ng-click="selectbea($event);"></i>
            </div>
        </div>
    </div>
    </div>
     
    <div class="col-md-4">
        
            <div class="rightContent">
				<div class="legend sleeper">
					<label><span class="jon seat available"></span>Available <span class="legendType">Sleeper</span></label>
					<label><span class="jon seat ladies"></span>Reserved for ladies</label>
					<label><span class="jon seat selected"></span>Selected <span class="legendType">Sleeper</span></label>
					<label><span class="jon seat booked"></span>Booked <span class="legendType">Sleeper</span></label>
				</div>
				<div class="fare">
					<div class="seatsSelected clearfix">
						<label>Seat(s)  :</label>
						<span>G, 15, 16, H, E, 8</span>
					</div>
					<div class="amount clearfix">
						<label>Base Fare : </label>
						<span class="basefare fareval">Rs. 5700</span>
					</div>
                     <div id="svcDiv" class="amount clearfix Hide" style="display: none;">
						<label>Service Charge : </label>
						<span class="servicecharge fareval"></span>
					</div>
                    <div id="svtDiv" class="amount clearfix Hide" style="display: none;">
						<label>Service Tax : </label>
						<span class="servicetax fareval"></span>
					</div>                   
                    <div class="amount clearfix">
						<label>Total Fare : </label>
						<span class="totalfare fareval">Rs. 5700.00</span>
					</div>
				</div>
			</div>
        
    </div>
</div>
    <div class="row">
        <div class="dropd-slep">
            <div class="col-md-6">
                <div class="drop-sl">
                    <p>Choose boarding point</p>
                    <div class="dro-sl">
                        <select>
                           <option>-- Boarding points --</option>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="btn-dro">
                    <button type="submit" class="cont-btn">Continue</button>
                </div>
            </div>
        </div>
    </div>


</div>